{% load static %}

<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ENEM 2017</title>

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.modal.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/new-age.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/amcharts/plugins/export/export.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">

        <script src="{% static 'plugins/amcharts/amcharts.js' %}"></script>
        <script src="{% static 'plugins/amcharts/ammap.js' %}"></script>
        <script src="{% static 'plugins/amcharts/brazilLow.js' %}"></script>
        <script src="{% static 'plugins/amcharts/serial.js' %}"></script>
        <script src="{% static 'plugins/amcharts/radar.js' %}"></script>
        <script src="{% static 'plugins/amcharts/pie.js' %}"></script>
        <script src="{% static 'plugins/amcharts/plugins/export/export.min.js' %}"></script>
        <script src="{% static 'plugins/amcharts/themes/light.js' %}"></script>

    </head>

    <body id="page-top">
        <div id="page-modal" class="modal"></div>
        <div class="wrapper">

            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <h3>ENEM 2017</h3>
                    <div class="infoButtonArea">
                        <i class="fas fa-question-circle" id="infoButton"></i>
                    </div>
                </div>
                <ul class="list-unstyled components">
                    <p id="place"></p>
                    <li>
                        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Número</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu1">
                            <li>
                                <a href="#" id="numberByAgeChart">Idade</a>
                            </li>
                            <li>
                                <a href="#" id="numberByGenreChart">Gênero</a>
                            </li>
                            <li>
                                <a href="#" id="numberBySchoolChart">Escola</a>
                            </li>
                            <li>
                                <a href="#" id="numberByLanguageChart">Língua Estrangeira</a>
                            </li>
                            <li>
                                <a href="#" id="numberByInternetChart">Acesso à Internet</a>
                            </li>
                            <li>
                                <a href="#" id="numberByPresenceChart">Compareceram ao Exame</a>
                            </li>
                            <li>
                                <a href="#" id="numberByIncomeChart">Distribuicao de Renda</a>
                            </li>
                            <li>
                                <a href="#" id="situacaoEnsinoMedio">Situação do Ensino Médio</a>
                            </li>
                            <li>
                                <a href="#" id= "cornumeroChart">Numeros do enem por Cor/Raça</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Desempenho</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                            <li>
                                <a href="#" id="performanceByGenreChart">Gênero</a>
                            </li>
                            <li>
                                <a href="#" id="performanceByEtinicoChart">Cor</a>
                            </li>
                            <li>
                                <a href="#" id="performanceBySchoolChart">Escola</a>
                            </li>
                            <li>
                                <a href="#" id="performanceByEstadosChart">Estado</a>
                            </li>
                            <li>
                                <a href="#" id="performanceByRendaChart">Relação Desempenho por Renda</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <header class="masthead">
                <div class="topButton topButtonLeft">
                    <i class="fas fa-bars" id="sidebarCollapse"></i>
                </div>
                <div class="topButton topButtonRight">
                    <i class="fas fa-cog" id="confButton"></i>
                </div>
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12 my-auto">            
                            <div class="device-container">
                                <img src="{% static 'img/enem-logo.png' %}" class="img-fluid" alt="">                                
                            </div>
                            <h1 class="chart-title"></h1>
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/js.cookie.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/jquery.modal.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>
